/* Card  */





.card_wrapper {
  width: 100%;
  height: 25%;
  min-height: 25%;
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
  /* margin: 0 auto; */
  /* max-width: 1140px; */
  /* padding: 10px 28px; */
  /* grid-gap: 30px; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* flex-wrap: wrap; */
  }
  


  
  .card {
    display: block;
    transition:  0.3s ;
    /* background-color: skyblue; */
    /* border-radius: 5px; */
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    width: 250px;
    cursor: pointer;
    height: 100%;
    margin: 0;
    background: #f5f5f5;
    color: #666;
   
    flex:auto;
    position: relative;
  }
  .card .total{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0; 
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    left: 0;
  }
  .card svg{
    /* background: transparent; */
    fill: #666;
  }
 
  .card:nth-child(even){
    border-left:1px solid #444 ;
    border-right:1px solid #444 ;
  }
  
  .home-section.active .card{
    max-height: 50px;
    border: none;
    padding: 20px 0;
  }

  .home-section.active .card .total{
    width:auto;
    height: 100%;
    border: none ;
    left: auto;
    right: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-left: 1px solid #666;
  }
  .card:hover {
    /* transform: scale(1.03); */
  }

  .home-section{
    width: 100%;
    height: calc(100vh - 60px);
    /* border: 1px solid red; */
  }

  .home-section.active{
    width: auto;
    margin-top: 10px;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 8pt; */

  }
  .home-section.active .card_wrapper{
    /* grid-gap: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    height: auto;
    /* grid-template-columns: 1fr; */
    padding: 0px;
    width: 300px;
    /* border: 1px solid red; */
    /* border: 1px solid black; */
}

.home-section.active .card_wrapper div{
    height: 40px;
    margin: 0px 0;
    width: 100%;
  }
  
  .home-section .card_wrapper .card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: 0.3s;
  
    
  }

  .home-section.active .card_wrapper .card{
    border-radius: 0px;
    padding-left: 10px;
    justify-content: left;
    font-size: 20px;
    border-bottom: 1px solid #fff;
  }
  .home-section .card_wrapper .card span{
    margin: 0 15px;
  }

  
   .wrapper-1 .card .total{
    background: #F1B93E;
    /* color: #fff; */

  
  }
  .wrapper-1 .card:hover, .wrapper-1 .card:hover svg{
    /* background: #fff; */
    color:  #F1B93E;
    fill:  #F1B93E;
  }
  .wrapper-1 .card:hover .total{
    color: #fff;
  }
  .home-section.active .wrapper-1 .card{
      background:  #F1B93E;
  }
  
  .wrapper-2 .card .total{
    background: #90B624;
    /* color: #444; */
  }
  
  .wrapper-2 .card:hover, .wrapper-2 .card:hover svg{
  /* background: #fff; */
  color:#90B624;
  fill:#90B624;
  }
  .wrapper-2 .card:hover .total{
    color: #fff;
  }
  .home-section.active .wrapper-2 .card{
    background:#90B624;
  }
  
  .wrapper-3 .card .total{
    background: #64ABEB;
  }

  .wrapper-3 .card:hover, .wrapper-3 .card:hover svg{
    /* background: #fff; */
    color: #64ABEB;
    fill: #64ABEB;
  }
  .wrapper-3 .card:hover .total{
    color: #fff;
  }
  .home-section.active .wrapper-3 .card{
      background: #64ABEB;
  }
  
  .wrapper-4 .card .total{
    background: #AD94F5;
  }
  
  .wrapper-4 .card:hover, .wrapper-4 .card:hover svg{
    /* background: #fff; */
    color: #AD94F5;
    fill: #AD94F5;
  }
  .wrapper-4 .card:hover .total{
    color: #fff;
  }
  .home-section.active .wrapper-4 .card{
      background: #AD94F5;
  }
  
  
   .main .openbox.active{
    background-color: #64ABEB;
    height: 1000px;
  }

  .card svg{
    width: 30px;
  }
  .home-section.active .card:hover, .home-section.active .card:hover svg{
    color: #fff;
    fill: #fff;
  }
  /* .card svg path{
    stroke: #fff;
  } 
  .card:hover svg path{
    stroke: red ;
  } */

  @media screen and (max-width:1072px) {
    .home-section.active .card_wrapper .card .cardName{

      display: none;
    }
    .home-section.active .card_wrapper .card{
      width:50px
    }
    
  
  }