
/**************************************************** Edit Entry **************************************************** */

/* .Countrydiv
{
    display:"flex" ;
    align-items: center;
        text-align:center;
        margin:"10px";
        justify-content:space-around;
} */

/**************************************************** END of  Edit Entry ******************************************** */

.country-title{
    display:flex;
    /* background-color: #ea6; */
    background:linear-gradient(to right, #F1B93E , #EA9943);
    color: #fff;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;

    
  }

  .span-text{
    font-size: 40px;
}

@media screen and (max-width:1072px) {
    .country-title{
        font-size: 20px;
     

}
/* .span-text{
    font-size: 20pxpx;
} */


}
