* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.UserTop{
    background-color:#FFB200;
}
.rules{
 display: flex;
/* background: rgba(100, 165, 195, 0.726); */
justify-content: space-between;
align-items: center;
height: 90px;
/* font-size: 40px; */
border-bottom: 1px solid black;
background: rgba(255, 255, 255, 0.886);
}
.rules span{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    /* width: 150px; */
    /* border: 1px solid black; */
    border-radius: 20px;
}