* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.transactionnav {
  background: rgba(179, 180, 182, 0.782);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.transactionnav span {
  margin: 3px 20px;
  color: #ffe;
}

.TransactionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.886);
  padding: 0px 20px;
}
.TransactionTop h4 {
  font-size: 20px;
}
.TransactionTop span {
  display: flex;
  /* margin: 0px 20px; */
}
.TransactionTop span h4 {
  margin: 0px 20px;
  font-size: 20px;
}
.graphicbtn {
  display: flex;
  justify-content: space-between;
  background: rgba(179, 180, 182, 0.955);
}
.graphicbtn h4 {
  margin: 5px 20px;
  color: rgb(61, 60, 60);
}

.graphicview .hiddbtn {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background: rgb(245, 221, 146); */
  /* justify-content: space-between; */
  background: rgba(202, 229, 232, 0.941);
}
.graphicview .hiddbtn .charts {
  width: 50%;
  min-width: 400px;
}
.graphicbtn1 {
  display: flex;
  justify-content: space-between;
  background: rgba(179, 180, 182, 0.955);
}
.graphicbtn1 h4 {
  margin: 5px 20px;
  color: rgb(61, 60, 60);
}
